@font-face {
  font-family: Orator;
  src: url("../res/fonts/OratorStd.otf"); }

#main-container {
  overflow: auto; }

.parallax-window {
  min-height: 400px;
  background: transparent;
  position: relative; }

.page-content {
  background-color: black;
  color: white;
  position: relative; }

.content-heading {
  text-align: right;
  padding-right: 100px; }
  .content-heading h2 {
    margin: 20px;
    font-size: 3em; }

.btn {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  outline: none; }
  .btn:hover {
    border: 2px solid #4CDDFF;
    color: #4CDDFF; }
  .btn:active {
    -webkit-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95); }

.parallax-window:first-of-type {
  min-height: 600px; }

#heading-container {
  position: relative;
  text-align: right;
  top: 150px;
  right: 100px; }
  #heading-container #heading-main {
    color: white;
    font-size: 5em;
    margin: 0; }
  #heading-container #subheading {
    color: white;
    font-size: 3em;
    margin: 0; }

#btn-nav {
  position: absolute;
  top: 25px;
  left: 25px;
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(/res/svg/icon_handle.svg);
  z-index: 1000; }
  #btn-nav:hover {
    cursor: pointer;
    background-image: url(/res/svg/icon_handle_hover.svg); }
  #btn-nav:active {
    -webkit-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95); }

#nav-bar {
  position: absolute;
  top: 0;
  left: -400px;
  width: 350px;
  height: 610px;
  background-repeat: no-repeat;
  background-image: url(/res/svg/icon_nav_area.svg); }
  #nav-bar #nav-bar-links {
    position: relative;
    top: 80px;
    left: 20px;
    width: 120px; }
    #nav-bar #nav-bar-links > a {
      color: white;
      text-decoration: none;
      font-size: 1.5em;
      display: block;
      line-height: 50px; }
      #nav-bar #nav-bar-links > a:hover {
        color: #4CDDFF; }
      #nav-bar #nav-bar-links > a:active {
        -webkit-transform: scale(0.95, 0.95);
        transform: scale(0.95, 0.95); }

#btn-login {
  position: absolute;
  top: 25px;
  right: 25px; }

#about-content {
  float: left;
  width: 50%; }
  #about-content .content-heading {
    text-align: left;
    padding-left: 100px; }
    #about-content .content-heading > h2 {
      margin-bottom: 5px; }

#about-video {
  float: right;
  width: 50%;
  text-align: center; }
  #about-video video {
    width: 90%;
    margin: 20px 0; }

#grid-item-1 {
  height: 250px;
  margin: 10px 0;
  background-color: #030303; }
  #grid-item-1 > div {
    height: 100%;
    float: left; }
  #grid-item-1 .grid-item-before {
    text-align: center;
    width: 0%;
    display: table; }
  #grid-item-1 .grid-item-image {
    width: 25%;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url(/res/images/p/p4a.jpg); }
  #grid-item-1 .grid-item-after {
    text-align: center;
    width: calc(75% - 0%);
    display: table; }
  #grid-item-1 .grid-item-text {
    text-shadow: 5px 5px 10px blue, -5px -5px 10px blue;
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px; }
  #grid-item-1:hover .grid-item-image {
    background-image: url(/res/images/p/p4b.jpg); }
  #grid-item-1:hover .grid-item-text {
    text-shadow: none; }

#grid-item-2 {
  height: 250px;
  margin: 10px 0;
  background-color: #030303; }
  #grid-item-2 > div {
    height: 100%;
    float: left; }
  #grid-item-2 .grid-item-before {
    text-align: center;
    width: 25%;
    display: table; }
  #grid-item-2 .grid-item-image {
    width: 25%;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url(/res/images/p/p1a.jpg); }
  #grid-item-2 .grid-item-after {
    text-align: center;
    width: calc(75% - 25%);
    display: table; }
  #grid-item-2 .grid-item-text {
    text-shadow: 5px 5px 10px blue, -5px -5px 10px blue;
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px; }
  #grid-item-2:hover .grid-item-image {
    background-image: url(/res/images/p/p1b.jpg); }
  #grid-item-2:hover .grid-item-text {
    text-shadow: none; }

#grid-item-3 {
  height: 250px;
  margin: 10px 0;
  background-color: #030303; }
  #grid-item-3 > div {
    height: 100%;
    float: left; }
  #grid-item-3 .grid-item-before {
    text-align: center;
    width: 50%;
    display: table; }
  #grid-item-3 .grid-item-image {
    width: 25%;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url(/res/images/p/p3a.jpg); }
  #grid-item-3 .grid-item-after {
    text-align: center;
    width: calc(75% - 50%);
    display: table; }
  #grid-item-3 .grid-item-text {
    text-shadow: 5px 5px 10px blue, -5px -5px 10px blue;
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px; }
  #grid-item-3:hover .grid-item-image {
    background-image: url(/res/images/p/p3b.jpg); }
  #grid-item-3:hover .grid-item-text {
    text-shadow: none; }

#grid-item-4 {
  height: 250px;
  margin: 10px 0;
  background-color: #030303; }
  #grid-item-4 > div {
    height: 100%;
    float: left; }
  #grid-item-4 .grid-item-before {
    text-align: center;
    width: 75%;
    display: table; }
  #grid-item-4 .grid-item-image {
    width: 25%;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url(/res/images/p/p2a.jpg); }
  #grid-item-4 .grid-item-after {
    text-align: center;
    width: calc(75% - 75%);
    display: table; }
  #grid-item-4 .grid-item-text {
    text-shadow: 5px 5px 10px blue, -5px -5px 10px blue;
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px; }
  #grid-item-4:hover .grid-item-image {
    background-image: url(/res/images/p/p2b.jpg); }
  #grid-item-4:hover .grid-item-text {
    text-shadow: none; }

.page-footer {
  height: 200px; }

#footer-links {
  white-space: nowrap; }
  #footer-links > a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    line-height: 50px;
    margin: 0 30px; }
    #footer-links > a:hover {
      color: #4CDDFF; }
    #footer-links > a:active {
      -webkit-transform: scale(0.95, 0.95);
      transform: scale(0.95, 0.95); }

#dialog-container {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url(/res/svg/icon_background_dialog.svg);
  background-repeat: no-repeat; }
  #dialog-container #dialog-btn-close {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 25px;
    width: 25px;
    background-image: url(/res/svg/icon_close.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%; }
    #dialog-container #dialog-btn-close:hover {
      background-image: url(/res/svg/icon_close_hover.svg);
      cursor: pointer; }
  #dialog-container #login-container {
    color: white; }
    #dialog-container #login-container h2 {
      margin-left: -90px;
      margin-bottom: 10px;
      font-size: 2em; }
    #dialog-container #login-container label {
      height: 40px;
      line-height: 40px; }
    #dialog-container #login-container input {
      border: 0;
      height: 40px;
      border-radius: 2px;
      margin: 10px; }
    #dialog-container #login-container button {
      margin-top: 5px;
      margin-right: -60px;
      float: right; }
    #dialog-container #login-container #input1 {
      margin-left: -30px; }
    #dialog-container #login-container #input2 {
      margin-left: 30px; }

* {
  margin: 0;
  padding: 0;
  font-family: Orator, Verdana, Geneva, sans-serif;
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%; }

body {
  background-color: black; }

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.clearfix {
  clear: both; }
