// Fonts
@font-face {
    font-family: Orator;
    src: url("../res/fonts/OratorStd.otf");
}



// Variables
$fonts: Orator, Verdana, Geneva, sans-serif;
$hoverColor: #4CDDFF;



// Imports
@import 'home';





// General stuff

* {
    margin: 0;
    padding: 0;
    font-family: $fonts;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
}


.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clearfix {
    clear: both;
}



